body {
  background-image: url("https://i0.wp.com/bcc-newspack.s3.amazonaws.com/uploads/2023/02/013123-Rush-Hour-Traffic-Sunrise-Colin-Boyle-3749.jpg?fit=1200%2C799&ssl=1");
  color: white;
  opacity: 2;
}

.sign {
  color: white;
  text-align: center;
}
